NET "clk"	LOC = R9;
NET "rst"	LOC = J13;

NET "kc"		LOC = R12;
NET "kd"		LOC = R13;

NET "sclk"	LOC = D12;
NET "sync"	LOC = A9;
NET "sdata"	LOC = A12;

NET EPPASTB		LOC = N8;
NET EPPDSTB		LOC = P7;
NET EPPWRITE	LOC = N7;
NET EPPWAIT		LOC = N5;
NET EPPDATABUS<0> LOC = N12;
NET EPPDATABUS<1> LOC = P12;
NET EPPDATABUS<2> LOC = N11;
NET EPPDATABUS<3> LOC = P11;
NET EPPDATABUS<4> LOC = N10;
NET EPPDATABUS<5> LOC = P10;
NET EPPDATABUS<6> LOC = M10;
NET EPPDATABUS<7> LOC = R10;